
{% load static %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Your one stop destination to get laid</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <script

  src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

<section id="body" class="width">
    <aside id="sidebar" class="column-left">

        <header>
            <h1><a href="#">PlentyofCats</a></h1>

            <h2>Share what you want!</h2>

        </header>

        <nav id="mainnav">
            <ul>
                <li class="selected-item"><a href="index.ejs">Post an AD</a></li>
                <li><a href="/users">Men seeking Women</a></li>
                <li><a href="#">Men seeking Men</a></li>
                <li><a href="#">Women seeking Men</a></li>
                <li><a href="#">Women seeking Women</a></li>
            </ul>
        </nav>



    </aside>
    <section id="content" class="column-right">

        <article>
            <h2>Showing ads for Kenya</h2>


                <form method="post" enctype="multipart/form-data">

                {% csrf_token %}




                     <div>
                        <label class="desc" id="title106" for="Field106">
                            Select your country
                        </label>
                        <div>
                            <select id="country" name="country" style="font-family: Cursive;  font-size: 20px;" class="field select medium" tabindex="11">
                                <option value="kenya">Kenya</option>
                                <option value="uganda">Uganda</option>

                            </select>
                        </div>
                    </div>



                    <div>
                        <div>
                            <input type="submit" class="button" value="Submit Ad"></input>
                        </div>
                    </div>

                </form>


            <div>
    <table id="demotbl" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Created</th>
            <th>title</th>








        </tr>
    </thead>
</table>

</div>
<script type="text/javascript">
     $(document).ready(function () {



   $.ajax({

       url: "/plentyofcats/getdatafromad",
            type: "get",
            data: {
               "category":"msw",
                "country":"kenya",

            },

            success: function (json) {
                console.log(json)
                if (json.length === 0) {
                    alert("No users yet")

                } else {


                    var data = jQuery.map(json, function(el, i) {
      return [[ el.created,el.title]];
    });

    $('#demotbl').DataTable( {
        "searching":false,
        "bLengthChange": false,
               "bInfo" : false,


      "aaData": data,
      "aoColumns": [
          { "sTitle": "Created" },

          {"sTitle": "Title"}

          ]



    })
                }
            }
   })
     })



</script>




        </article>







        <footer class="clear">
            <p>&copy; 2018 PlentyofCats by Anonymous</p>
        </footer>

    </section>

    <div class="clear"></div>

</section>


</body>
</html>
